<shared-section [title]="title" [text]="text" [urlImg]="urlImg">
    <button [routerLink]="[]" [fragment]="urlSection" mat-raised-button>Seguir leyendo</button>

    ></shared-section>



<section class=" flex items-center justify-center max-h-max p-10	">
    <mat-card class="p-10 flex">
        <mat-card-content>
            <h4 mat-card-title>
                Impacto emocional de los accidentes
            </h4>
            <p style="width: 100ch;">
                Estas respuestas pueden incluir shock, ansiedad, miedo, culpa, tristeza y confusión. Las víctimas
                directas del accidente, así como sus familiares y testigos, pueden sufrir consecuencias emocionales a
                largo plazo. El impacto emocional puede llevar a trastornos de estrés postraumático, depresión y
                problemas de salud mental. Las imágenes del accidente, los sonidos y los recuerdos pueden persistir en
                la mente de las personas, afectando su calidad de vida y su bienestar emocional. Es fundamental abordar
                y brindar apoyo a nivel emocional a las personas afectadas por accidentes, ya que el trauma emocional
                puede ser igual de significativo que las lesiones físicas.
            </p>
            <h5 mat-card-subtitle>
                Consecuencias psicológicas
            </h5>
            <p>
                Los accidentes pueden provocar una variedad de respuestas emocionales, como shock, ansiedad, miedo,
                tristeza y culpa. Las personas pueden experimentar trastornos de estrés postraumático, depresión y otros
                problemas de salud mental como resultado del accidente.

            </p>

            <h5 mat-card-subtitle>
                Trauma a largo plazo
            </h5>
            <p>
                Los recuerdos del accidente y sus consecuencias pueden perdurar durante años, impactando la capacidad de
                las personas para sentirse seguras en la carretera y en otros aspectos de sus vidas.
            </p>

            <h5 mat-card-subtitle>
                Ciclo de reacciones emocionales
            </h5>
            <p>
                Las personas pueden experimentar una variedad de reacciones emocionales a lo largo del tiempo, desde la
                negación inicial hasta la aceptación y el eventual ajuste emocional.


            </p>
        </mat-card-content>

        <div class="cont-videos flex flex-col gap-8">
            <video class="vidConscientizacion" controls>
                <source src="assets/Videos/Efectos del alcohol en el cuerpo Como influye en el manejo.mp4"
                    type="video/mp4">
            </video>

            <video class="vidConscientizacion" controls>
                <source src="assets/Videos/Efectos drogas conduccion.mp4" type="video/mp4">
            </video>
        </div>
    </mat-card>


</section>