<shared-section [title]="title" [text]="text" [urlImg]="urlImg">

</shared-section>


    <!-- <div class="grid grid-cols-2 mt-60 grid-rows-3 gap-4" style="width: 80%;">
        <h2>Formas en las que se puede mejorar la educacion</h2>
        <mat-card class="p-2">
            <h3 mat-card-title> Enseñanza práctica </h3>
            <mat-card-content class="p-2">
                <p class="text-card">
                    nfoque educativo que implica la aplicación directa de conocimientos teóricos en situaciones
                    reales.
                    En el contexto de la seguridad vial, la enseñanza práctica involucra brindar a los conductores,
                    ciclistas y peatones la oportunidad de practicar habilidades y tomar decisiones en entornos de
                    tráfico controlados
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="p-2 col-start-1 row-start-2">
            <h3 mat-card-title> Programas interactivos</h3>
            <mat-card-content class="p-2">
                <p class="text-card">
                    Desarrollar programas educativos interactivos que utilicen tecnologías como aplicaciones
                    móviles,
                    simuladores de manejo y juegos educativos para enseñar a los niños y jóvenes sobre seguridad
                    vial de
                    manera atractiva y efectiva.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="p-2 col-start-1 row-start-3">
            <h3 mat-card-title> Uso de testimonios
            </h3>
            <mat-card-content class="p-2">
                <p class="text-card">
                    ofrecen un beneficio significativo al transmitir experiencias y lecciones de la vida real
                    relacionadas con la seguridad vial. Estos testimonios son relatos personales de individuos que
                    han
                    experimentado accidentes, situaciones peligrosas o cambios positivos en su comportamiento en la
                    carretera. Aquí está el desarrollo de este beneficio:


                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="p-2 col-start-2 row-start-2">
            <h3 mat-card-title>Enfoque en riesgos específicos.</h3>
            <mat-card-content class="p-2">
                <p class="text-card">
                    Permite una comprensión más profunda de los desafíos y la adopción de medidas de prevención más
                    efectivas

                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="p-2">
            <h3 mat-card-title>Campañas a largo plazo.
                </h3>
            <mat-card-content class="p-2">
                <p class="text-card">
                    A largo plazo de las campañas de educación vial son significativos y pueden tener un impacto
                    duradero en la seguridad vial y la cultura de conducción



                </p>
            </mat-card-content>
        </mat-card>
    </div> -->



    <section class="bg-white">
        <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
                <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col">
                    <a href="" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
                        <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
                        <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Enseñanza practica</h3>
                    </a>
                </div>
                <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
                    <a href="" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4">
                        <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
                        <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Programas interectivos</h3>
                    </a>
                    <div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
                        <a href="" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-6 pt-40">
                            <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
                            <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"> Testimonios</h3>
                        </a>
                        <a href="" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40">
                            <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
                            <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">  Riesgos especificos</h3>
                        </a>
                    </div>
                </div>
                <mat-card class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col">
                    <a href="" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
                        <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
                        <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">Campañas de conscientizacion</h3>
                    </a>
                </mat-card>
            </div>
        </div>
    </section>


