<mat-toolbar class="bg-gray-800 text-white">
  <!-- <button mat-icon-button (click)="sidenav.toggle()" class="mr-2 md:hidden"> -->
    <!-- <mat-icon>menu</mat-icon>
  </button> -->
  <h1 class="text-3xl font-bold mb-4 flex-grow">
    <a href="/" class="text-blue-400">SEV</a>
  </h1>
  <div class="hidden md:flex flex-grow justify-end">
    <button mat-button [routerLink]="['/']">Inicio</button>
    <button mat-button [routerLink]="['/noticias']">Noticias</button>
    <button mat-button [routerLink]="['/ManualSeñales']">Manual de señales</button>
    <!-- <button mat-button [routerLink]="['/Educacion']">Educacion</button> -->
    <button mat-button [routerLink]="['/SobreSev']">Sobre SEV</button>


  </div>
</mat-toolbar>
