@media (min-width: 300px) {
    header {
        h3 {
            color: red;
            margin-left: 200px;
        }

        nav {
            button {
                display: none;
                /* Botones ocultos */
            }
        }
    }
}

@media (min-width: 640px) {
    header {
        h3 {
            color: rgb(0, 255, 162);
            margin-left: 50px;
        }

        nav {
            button {
                display: none;
                /* Mostrar botones en pantallas >= 640px */
            }
        }

        .cont-menu {
            display:     inline-block;
        }

    }
}

@media (max-width: 768px) {
    header {
        h3 {
            color: green;
            margin-left: 40px;
        }
        nav
        {
            button {
                display: none;
                /* Botones visibles */
            }
        }

        .cont-menu {
            display:   inline-block;
        }
    }
}

@media (min-width: 1024px) {
    header {
        h3 {
            color: blue;
        }

        nav {
            button {
                display: inline-block;
                /* Botones visibles */
            }
        }

        .cont-menu{
            display: none;
        }
    }
}

@media (min-width: 1280px) {
    header {
        h3 {
            color: yellow;
        }

        nav {
            button {
                display: inline-block;
                /* Botones visibles */
            }
        }

                .cont-menu{
            display: none;
        }
    }
}