.card {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-card {
        width: 220px;
        height: 160px;
        display: flex;
        position: relative;
    }

    .cont-text
    {
        p
        {
            padding: 30px;
        }
        
    }
}

