<section class="flex justify-center  items-center flex-col">
  <h1>
    ¿Que es SEV?
  </h1>
  <p>
    SEVWEB es un proyecto que se centra en la seguridad vial, utilizando una página web y un simulador de conducción
    para la enseñanza. </p>
  <ul>
    <strong> Objetivos</strong>
    <li> Conscientizar: Dar a conocer la importancia de la seguridad vial.las vidas que se pierden y las mismas que se pueden salvar </li>
    <li> Educar a los mas jovenes: Generar un interes tanto en los mas jovenes como en los mas adultos de re-educarse </li>
    <li>Proteger: No solo protegerse uno mismo, sino al peaton, al conductor y a esas familias que por desgracia estan aun viaje de no verse mas</li>
  </ul>
</section>