section {
    height: 90vh;
}



@media (min-width: 200px) {
    .cont-all-forms
    {
        width: 60%;
    }
}

@media (min-width: 300px) {
    .cont-all-forms
    {
        width: 60%;
    }
}

@media (min-width: 640px) {
    .cont-all-forms
    {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .cont-all-forms
    {
        width: 60%;
    }

}

@media (min-width: 1024px) 

{
    .cont-all-forms
    {
        width: 50%;
        
    }
}