

<section class="flex justify-center items-center ">
  <div class="cont-all-forms flex flex-col justify-center">
    <p class="font-medium">¿Tienes alguna duda con las leyes viales? Envianos tu pregunta y te responderemos a la brevedad</p>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput>
    </mat-form-field>

    

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Pregunta</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <button mat-flat-button>Enviar pregunta</button>

  </div>

</section>