<shared-section [title]="title" [text]="text" [urlImg]="urlImg">
    ></shared-section>

<section class="flex items-center justify-center flex-col max-h-max	">


    <div class="">

        <h3>
            Enfoque en riesgos específicos
        </h3>
        <p>
            El consumo de sustancias al conducir, ya sea alcohol, drogas o medicamentos que afecten la capacidad
            cognitiva y
            motora, es un comportamiento peligroso y una de las principales causas de accidentes de tráfico.
        </p>
        <h3>
            Consumo de sustancias al conducir
        </h3>

        <ul>
            <li>

                <h5>Efectos sobre la capacidad de conducción </h5>
                El alcohol y las drogas pueden afectar la coordinación, el tiempo de reacción, la percepción y el juicio
                del conductor, lo que aumenta el riesgo de accidentes.
            </li>

            <li>
                <h5>Peligros para la seguridad vial</h5>

                Conducir bajo los efectos de sustancias aumenta la probabilidad de choques, colisiones y atropellos
                debido a la disminución de las habilidades de concentración y control.
            </li>

        </ul>
    </div>

</section>